# 미니스탑 매장 주소 정리

In [2]:
import pandas as pd

mini_seoul = pd.read_csv('./data/ministop_store_서울.csv', encoding='cp949', index_col=0, header=0, engine='python')

mini_seoul.head()

     store                   address      phone
0   신강남신사점          서울 강남구 도산대로1길 28  1577-9621
1    강동타운점         서울 강동구 구천면로57길 35  1577-9621
2  왕십리센트럴점            서울 성동구 마장로 200  1577-9621
3   동작대교2점      서울 동작구 동작대로 335 노을카페  1577-9621
4   래미안목동점  서울 양천구 중앙로43길 14 상가 119동  1577-9621

In [26]:
addr = []
for address in mini_seoul.address:
    addr.append(str(address).split())
    
print(len(addr))

305

In [27]:
addr2 = []

for i in range(len(addr)):
    if addr[i][0] == "서울":
        addr[i][0] = "서울특별시"
    if addr[i][0] == "서울시":
        addr[i][0] = "서울특별시"
        
    addr2.append(' '.join(addr[i]))

addr2

['서울특별시 강남구 도산대로1길 28',
 '서울특별시 강동구 구천면로57길 35',
 '서울특별시 성동구 마장로 200',
 '서울특별시 동작구 동작대로 335 노을카페',
 '서울특별시 양천구 중앙로43길 14 상가 119동',
 '서울특별시 강동구 선사로 83-19',
 '서울특별시 강남구 압구정로11길 37-30',
 '서울특별시 구로구 중앙로 18',
 '서울특별시 금천구 가산디지털2로 169-16',
 '서울특별시 도봉구 해등로 295, 1층',
 '서울특별시 강북구 도봉로 277, 1층',
 '서울특별시 서초구 서초대로 355, 1층 101호',
 '서울특별시 서초구 동작대로 350(반포동, 한강반포지구내유선장)',
 '서울특별시 중랑구 신내로7가길 83',
 '서울특별시 관악구 신사로10길 13(신림동) 1층',
 '서울특별시 노원구 동일로242길 22, 1층',
 '서울특별시 서대문구 통일로 348',
 '서울특별시 광진구 능동로 216(서울어린이대공원 내 구의문 복합식당)',
 '서울특별시 양천구 신월로 128-1',
 '서울특별시 금천구 가산로9길 17, 104동 105호',
 '서울특별시 노원구 노원로 434 아파트상가 지하',
 '서울특별시 강북구 오현로25라길 34',
 '서울특별시 광진구 능동로 216 (식물원 복합식당 내부)',
 '서울특별시 중랑구 동일로130길 53, 1층',
 '서울특별시 강서구 양천로27길 280-11',
 '서울특별시 관악구 법원단지5가길 54',
 '서울특별시 양천구 월정로36길 5',
 '서울특별시 구로구 고척로51길 12',
 '서울특별시 강북구 월계로 225, 1층',
 '서울특별시 도봉구 우이천로 465',
 '서울특별시 동대문구 한천로 146',
 '서울특별시 강서구 월정로 88',
 '서울특별시 동대문구 한천로26길 58',
 '서울특별시 금천구 독산로28길 11',
 '서울특별시 구로구 개봉로16길 39',
 '서울특별시 성북구 화랑로1길 7',
 '서울특별시 노원구 중계로19길 48',
 '서울특별시 도봉구 도봉로137길 16',
 '서울특별시 금천구 독산로73길 13',
 '서울특별시 광진구 용마산로3길 32, 1층',
 '서울특별시 용산구 우사단로2가길 6',
 '서울특별시 구로구 도림로 18, 101호',
 '서울특별시 노원구 수락산로 12, 101호, 102호',
 '서울특별시 영등포구 여의동로 290',
 '서울특별시 중구 장충단로13길 13',
 '서울특별시 동대문구 장한로18길 40',
 '서울특별시 영등포구 노들로 147',
 '서울특별시 강서구 등촌로39마길 24',
 '서울특별시 영등포구 노들로 235',
 '서울특별시 강북구 노해로 101,1층',
 '서울특별시 구로구 구로동로35길 30, 108호',
 '서울특별시 은평구 갈현로 172',
 '서울특별시 영등포구 여의공원로 68, 3호 편의점',
 '서울특별시 영등포구 양산로 141,1층',
 '서울특별시 강북구 4.19로13길 3, 1층',
 '서울특별시 노원구 공릉로51길 14-2',
 '서울특별시 관악구 신림로 1',
 '서울특별시 영등포구 영등포로80길 22, 1층',
 '서울특별시 양천구 은행정로 35, 1층',
 '서울특별시 송파구 백제고분로14길 5',
 '서울특별시 구로구 가마산로22길 10, 1층',
 '서울특별시 성동구 금호로 15 상가동 109호',
 '서울특별시 마포구 마포대로 12, 101-1호, 101-2호',
 '서울특별시 종로구 새문안로 82 S타워 지하1층',
 '서울특별시 성동구 성수이로16길 21, 1층',
 '서울특별시 금천구 시흥대로50길 26 1층',
 '서울특별시 강서구 곰달래로31가길 80, 1층',
 '서울특별시 중구 을지로12길 28,105호, 106호',
 '서울특별시 영등포구 디지털로48길 21-14, 1층',
 '서울특별시 송파구 올림픽로 424 평화의광장 C-1동',
 '서울특별시 강동구 상암로21길 12',
 '서울특별시 성북구 서경로18길 6,B1',
 '서울특별시 용산구 두텁바위로37길 7-3, 1층',
 '서울특별시 강서구 월정로20길 25, 1층',
 '서울특별시 강서구 양천로 50, 1층',
 '서울특별시 성북구 낙산길 255',
 '서울특별시 구로구 개봉로11길 35',
 '서울특별시 은평구 갈현로23길 9',
 '서울특별시 용산구 신흥로16길 3',
 '서울특별시 금천구 시흥대로47길 35',
 '서울특별시 관악구 과천대로 951',
 '서울특별시 강서구 곰달래로 104',
 '서울특별시 서초구 서초대로52길 38 크란츠빌딩 1층',
 '서울특별시 금천구 남부순환로124길 17',
 '서울특별시 송파구 마천로25길 6-14',
 '서울특별시 강서구 강서로7길 89',
 '서울특별시 은평구 통일로65길 5',
 '서울특별시 송파구 성내천로23길 2',
 '서울특별시 구로구 신도림로11라길 31',
 '서울특별시 강동구 고덕로28길 10-7',
 '서울특별시 성동구 성덕정길 84',
 '서울특별시 마포구 모래내로3길 11, 101호',
 '서울특별시 마포구 월드컵로34길 13, 101,102호',
 '서울특별시 동작구 흑석로 13',
 '서울특별시 은평구 역말로 20',
 '서울특별시 구로구 도림로 107 상가 102호, 103호',
 '서울특별시 서대문구 북아현로1길 50, 제상가2동 208,209,210호',
 '서울특별시 서초구 방배로4길 10-3',
 '서울특별시 성북구 동소문로23길 7',
 '서울특별시 성북구 종암로10길 11',
 '서울특별시 광진구 아차산로21길 47',
 '서울특별시 중구 다산로36길 97',
 '서울특별시 강서구 방화대로6길 33',
 '서울특별시 영등포구 대림로44길 5',
 '서울특별시 동작구 사당로20길 42',
 '서울특별시 성동구 마조로11길 19',
 '서울특별시 노원구 광운로 20 광운대학교 80주년 기념관 지하1층',
 '서울특별시 서초구 반포대로10길 21',
 '서울특별시 종로구 통일로16길 8-3',
 '서울특별시 서초구 강남대로18길 11',
 '서울특별시 금천구 가산디지털2로 98 IT캐슬 2동 113호',
 '서울특별시 중구 을지로 164, 베스트웨스턴호텔국도 1층',
 '서울특별시 은평구 진관2로 57-7, 은평뉴타운 우물골마을 253동 상가 B109호',
 '서울특별시 성북구 보문로13길 24',
 '서울특별시 은평구 증산로15길 69',
 '서울특별시 마포구 잔다리로6길 23, 1층',
 '서울특별시 서초구 신반포로11길 40 반포한강도선장 내',
 '서울특별시 서대문구 거북골로 9',
 '서울특별시 광진구 천호대로127길 13',
 '서울특별시 동대문구 한천로 479, 1층',
 '서울특별시 서초구 반포대로22길 73',
 '서울특별시 강북구 인수봉로77길 22',
 '서울특별시 노원구 동일로213길 77 상가동 101호,102호,103호',
 '서울특별시 강북구 삼양로19길 214, 금강빌딩 1층',
 '서울특별시 광진구 능동로4길 17',
 '서울특별시 강서구 강서로48길 47, 1층',
 '서울특별시 동작구 상도로15길 131(비 102호, 비 103호)',
 '서울특별시 구로구 고척로1길 23',
 '서울특별시 서초구 남부순환로354길 14, 1층',
 '서울특별시 송파구 오금로56길 16, 1층 101호',
 '서울특별시 노원구 덕릉로118길 29 불암현대아파트 상가 210호',
 '서울특별시 종로구 새문안로5가길 3-1',
 '서울특별시 금천구 가산로 134',
 '서울특별시 강남구 개포로 623',
 '서울특별시 중구 퇴계로 141',
 '서울특별시 강남구 도곡로4길 5',
 '서울특별시 강서구 양천로 492, 1층',
 '서울특별시 송파구 마천로61길 25',
 '서울특별시 강동구 올림픽로70길 39',
 '서울특별시 강남구 삼성로85길 42',
 '서울특별시 강남구 논현로 639',
 '서울특별시 동작구 사당로 301-1',
 '서울특별시 종로구 삼봉로 95 (종로1가) 대성스카이렉스 1층 104호',
 '서울특별시 송파구 백제고분로22길 9',
 '서울특별시 강남구 테헤란로88길 10 신안메트로상가 108호',
 '서울특별시 영등포구 대림로29길 24',
 '서울특별시 송파구 풍성로 41, 1층',
 '서울특별시 강동구 고덕로38길 64',
 '서울특별시 강동구 성내로5길 19',
 '서울특별시 강남구 강남대로118길 30',
 '서울특별시 성북구 보국문로16길 48',
 '서울특별시 동작구 노량진로 196 JH빌딩',
 '서울특별시 동작구 상도로 69',
 '서울특별시 강동구 양재대로111길 54',
 '서울특별시 서초구 남부순환로323길 38-17',
 '서울특별시 강남구 봉은사로57길 13 (삼성동) 프리스원센터빌딩 지하1층 일부',
 '서울특별시 구로구 오리로 1154-7',
 '서울특별시 강남구 테헤란로 428, 1층 105호',
 '서울특별시 노원구 노원로22길 77 건영아파트상가 104호',
 '서울특별시 노원구 섬밭로 139 (104, 105, 106호)',
 '서울특별시 서초구 마방로10길 22',
 '서울특별시 양천구 목동동로 100 A동 113,114호',
 '서울특별시 서대문구 연세로4길 12',
 '서울특별시 강동구 천중로40길 46 (길동한솔빌라트 105호)',
 '서울특별시 강북구 오패산로77길 17 (번동)',
 '서울특별시 강서구 강서로7길 19',
 '서울특별시 강북구 노해로 38',
 '서울특별시 강서구 방화동로 80 외 2필지 제 가호 내제1,2,3호',
 '서울특별시 도봉구 마들로11길 71',
 '서울특별시 은평구 연서로 246',
 '서울특별시 강서구 까치산로4길 34',
 '서울특별시 송파구 중대로 68',
 '서울특별시 구로구 경인로20길 8, 1층',
 '서울특별시 송파구 올림픽로32길 47(방이동) 1층',
 '서울특별시 동대문구 천호대로77길 84',
 '서울특별시 구로구 경인로40길 47 개봉역사 내 1층 2-1호',
 '서울특별시 중구 동호로10길 21',
 '서울특별시 영등포구 양산로 43 양평우림 E-비지니스센터 101호',
 '서울특별시 강남구 봉은사로30길 28',
 '서울특별시 강남구 강남대로96길 5',
 '서울특별시 서초구 서초중앙로 49',
 '서울특별시 서초구 서초대로74길 23 삼성트라1층',
 '서울특별시 마포구 월드컵북로5길 29',
 '서울특별시 도봉구 방학로2길 40',
 '서울특별시 마포구 독막로 176 (구수동)',
 '서울특별시 서초구 동산로2길 11 월산빌딩 1층',
 '서울특별시 노원구 공릉로46길 18',
 '서울특별시 영등포구 도림로 322',
 '서울특별시 영등포구 도신로60길 2',
 '서울특별시 성동구 성수일로4길 25',
 '서울특별시 광진구 천호대로109길 10(중곡동)',
 '서울특별시 서초구 효령로53길 45',
 '서울특별시 동작구 알마타길 37 (대방동 508 상가동 204)',
 '서울특별시 강남구 선릉로153길 18',
 '서울특별시 강남구 도곡로77길 7',
 '서울특별시 금천구 범안로 1130 디지털엠파이어 빌딩 제 1층 107호',
 '서울특별시 강서구 양천로 461',
 '서울특별시 용산구 청파로 395',
 '서울특별시 강남구 도산대로49길 18',
 '서울특별시 관악구 관악로 168, 105-1호 대우디오슈페리움2차 1층',
 '서울특별시 서초구 사임당로 178 서초이즈타워 115호',
 '서울특별시 강남구 자곡로 204-5 근린생활시설동 104호',
 '서울특별시 송파구 중대로 105',
 '서울특별시 강남구 강남대로78길 8 한국빌딩1층',
 '서울특별시 금천구 가마산로 96 106호',
 '서울특별시 강남구 언주로 427',
 '서울특별시 마포구 희우정로20길 54 (망원동409-41)',
 '서울특별시 광진구 아차산로51길 62',
 '서울특별시 강남구 논현로132길 15',
 '서울특별시 강남구 테헤란로 532',
 '서울특별시 금천구 가산디지털1로 219',
 '서울특별시 양천구 신정중앙로 88',
 '서울특별시 성북구 보문로 73',
 '서울특별시 강북구 수유로 79',
 '서울특별시 동작구 보라매로5길 43',
 '서울특별시 마포구 월드컵북로2길 29',
 '서울특별시 성북구 화랑로 186',
 '서울특별시 성북구 종암로19길 50',
 '서울특별시 성북구 종암로 120',
 '서울특별시 강남구 압구정로30길 18, 1층',
 '서울특별시 마포구 월드컵북로 20',
 '서울특별시 용산구 이촌로 303 현대A 21동 제104-나호, 제105-가호',
 '서울특별시 종로구 종로 313-1',
 '서울특별시 마포구 토정로 149',
 '서울특별시 구로구 디지털로 271 벽산디지털밸리 3차 1층 106호',
 '서울특별시 종로구 청계천로 61',
 '서울특별시 강서구 강서로 378',
 '서울특별시 강남구 봉은사로 327',
 '서울특별시 강서구 양천로 551-17',
 '서울특별시 구로구 디지털로32나길 35 크라이머빌딩 1층',
 '서울특별시 강남구 강남대로152길 26',
 '서울특별시 서초구 고무래로 6-3',
 '서울특별시 강북구 오패산로 413',
 '서울특별시 마포구 새창로 7 ,1층',
 '서울특별시 서초구 방배천로2안길 17',
 '서울특별시 강서구 공항대로45길 44',
 '서울특별시 마포구 서강대길 40 마포자이2차A 상가동 101,102호',
 '서울특별시 서초구 동광로 9',
 '서울특별시 종로구 율곡로 235',
 '서울특별시 송파구 오금로46길 27 (가락동, 진열빌딩 101호)',
 '서울특별시 서초구 서초대로 12, 세양아르비체 101동 107호 (방배동)',
 '서울특별시 서초구 방배천로 5-3',
 '서울특별시 구로구 디지털로30길 31',
 '서울특별시 강동구 올림픽로98가길 47 상가동 1층',
 '서울특별시 중랑구 동일로 492 센타빌딩 1층',
 '서울특별시 동대문구 한천로24길 74-1',
 '서울특별시 동작구 동작대로7길 12',
 '서울특별시 용산구 서빙고로 35',
 '서울특별시 금천구 가산디지털2로 53',
 '서울특별시 강서구 양천로 73 멤브로메디컬센터 1층 104호',
 '서울특별시 종로구 종로39길 40',
 '서울특별시 은평구 연서로48길 12, 513동 상가 1층 103호',
 '서울특별시 관악구 신림로 270',
 '서울특별시 강남구 도산대로57길 7',
 '서울특별시 서초구 남부순환로356길 33, 1층 101호',
 '서울특별시 종로구 수표로 105',
 '서울특별시 서초구 신반포로43길 23-4',
 '서울특별시 강남구 양재대로55길 13 (일원동 644-2)',
 '서울특별시 종로구 사직로8길 34 경희궁의 아침 3단지 101,102,103호',
 '서울특별시 구로구 디지털로31길 38-21',
 '서울특별시 중랑구 봉우재로33길 92',
 '서울특별시 구로구 디지털로34길 27',
 '서울특별시 구로구 디지털로 288 대륭포스트아워 1차 110호',
 '서울특별시 강남구 언주로30길 10',
 '서울특별시 중랑구 사가정로49길 53',
 '서울특별시 광진구 구의로 39 (구의동, 1층)',
 '서울특별시 강북구 도봉로 313',
 '서울특별시 노원구 한글비석로 68',
 '서울특별시 송파구 가락로28길 15 삼일빌딩 1층',
 '서울특별시 중구 서소문로 135',
 '서울특별시 관악구 관악로15길 39',
 '서울특별시 중구 다산로 110',
 '서울특별시 동대문구 한천로 250 주공아파트 상가 103호',
 '서울특별시 강동구 구천면로 293',
 '서울특별시 마포구 월드컵로10길 28',
 '서울특별시 도봉구 도봉로 476',
 '서울특별시 강남구 선릉로129길 15',
 '서울특별시 종로구 종로41길 3',
 '서울특별시 금천구 가산디지털2로 123, 1층 104호',
 '서울특별시 노원구 한글비석로 411',
 '서울특별시 성동구 왕십리로20길 26',
 '서울특별시 강남구 테헤란로6길 47',
 '서울특별시 도봉구 도봉로110길 12',
 '서울특별시 은평구 연서로28길 20-1',
 '서울특별시 서대문구 이화여대길 7 (대현동) 1층',
 '서울특별시 양천구 목동서로 155',
 '서울특별시 양천구 신월로17길 21',
 '서울특별시 용산구 신흥로20길 1',
 '서울특별시 강남구 도산대로58길 17',
 '서울특별시 강북구 삼양로27길 20',
 '서울특별시 송파구 올림픽로47길 19 오성빌딩',
 '서울특별시 송파구 백제고분로33길 31',
 '서울특별시 강남구 테헤란로34길 7',
 '서울특별시 강남구 테헤란로 313',
 '서울특별시 도봉구 도당로13길 38',
 '서울특별시 강남구 밤고개로1길 10',
 '서울특별시 구로구 디지털로26길 123',
 '서울특별시 강남구 논현로 808 선호빌딩',
 '서울특별시 성동구 광나루로 238',
 '서울특별시 강북구 한천로105길 33',
 '서울특별시 용산구 청파로 287',
 '서울특별시 도봉구 방학로 192',
 '서울특별시 강남구 도산대로51길 44 (신사동)',
 '서울특별시 마포구 월드컵북로 375 DMC E1-1블록1층',
 '서울특별시 성동구 상원8길 1']

In [28]:
addr2 = pd.DataFrame(addr2, columns=['address2'])
addr2

                             address2
0                 서울특별시 강남구 도산대로1길 28
1                서울특별시 강동구 구천면로57길 35
2                   서울특별시 성동구 마장로 200
3             서울특별시 동작구 동작대로 335 노을카페
4         서울특별시 양천구 중앙로43길 14 상가 119동
..                                ...
300                 서울특별시 용산구 청파로 287
301                 서울특별시 도봉구 방학로 192
302        서울특별시 강남구 도산대로51길 44 (신사동)
303  서울특별시 마포구 월드컵북로 375 DMC E1-1블록1층
304                  서울특별시 성동구 상원8길 1

[305 rows x 1 columns]

In [29]:
mini_seoul2 = pd.concat([mini_seoul, addr2], axis=1)
mini_seoul2.tail()

,store,address,phone,address2
300,숙대입구점,서울 용산구 청파로 287,1577-9621,서울특별시 용산구 청파로 287
301,방학2점,서울 도봉구 방학로 192,1577-9621 소프트크림 판매점,서울특별시 도봉구 방학로 192
302,압구정로데오점,서울 강남구 도산대로51길 44 (신사동),1577-9621,서울특별시 강남구 도산대로51길 44 (신사동)
303,상암센트럴점,서울 마포구 월드컵북로 375 DMC E1-1블록1층,1577-9621,서울특별시 마포구 월드컵북로 375 DMC E1-1블록1층
304,뚝섬점,서울 성동구 상원8길 1,1577-9621 소프트크림 판매점,서울특별시 성동구 상원8길 1

In [30]:
gu_list = []

for addr in mini_seoul2.address2 :
    if '강남구' in addr:
        gu='강남구'
    elif '강동구' in addr:
        gu='강동구'

    elif '강북구' in addr:
        gu='강북구'

    elif '강서구' in addr:
        gu='강서구'

    elif '관악구' in addr:
        gu='관악구'

    elif '광진구' in addr:
        gu='광진구'

    elif '구로구' in addr:
        gu='구로구'

    elif '금천구' in addr:
        gu='금천구'

    elif '노원구' in addr:
        gu='노원구'

    elif '도봉구' in addr:
        gu='도봉구'

    elif '동대문구' in addr:
        gu='동대문구'

    elif '동작구' in addr:
        gu='동작구'

    elif '마포구' in addr:
        gu='마포구'

    elif '서대문구' in addr:
        gu='서대문구'

    elif '서초구' in addr:
        gu='서초구'

    elif '성동구' in addr:
        gu='성동구'

    elif '성북구' in addr:
        gu='성북구'

    elif '송파구' in addr:
        gu='송파구'

    elif '양천구' in addr:
        gu='양천구'

    elif '영등포구' in addr:
        gu='영등포구'

    elif '용산구' in addr:
        gu='용산구'

    elif '은평구' in addr:
        gu='은평구'

    elif '종로구' in addr:
        gu='종로구'

    elif '중구' in addr:
        gu='중구'

    elif '중랑구' in addr:
        gu='중랑구'

    gu_list.append(gu)

In [31]:
gu_list = pd.DataFrame(gu_list, columns=['지역구'])
gu_list.tail()

     지역구
300  용산구
301  도봉구
302  강남구
303  마포구
304  성동구

In [32]:
ministop_seoul_final = pd.concat([mini_seoul2, gu_list], axis=1)
ministop_seoul_final.tail()

,store,address,phone,address2,지역구
300,숙대입구점,서울 용산구 청파로 287,1577-9621,서울특별시 용산구 청파로 287,용산구
301,방학2점,서울 도봉구 방학로 192,1577-9621 소프트크림 판매점,서울특별시 도봉구 방학로 192,도봉구
302,압구정로데오점,서울 강남구 도산대로51길 44 (신사동),1577-9621,서울특별시 강남구 도산대로51길 44 (신사동),강남구
303,상암센트럴점,서울 마포구 월드컵북로 375 DMC E1-1블록1층,1577-9621,서울특별시 마포구 월드컵북로 375 DMC E1-1블록1층,마포구
304,뚝섬점,서울 성동구 상원8길 1,1577-9621 소프트크림 판매점,서울특별시 성동구 상원8길 1,성동구

In [33]:
ministop_seoul_final.to_csv("./data/mini_seoul_final.csv", encoding='cp949', index=False)

### 경기

In [3]:
mini_gyeonggi = pd.read_csv('./data/ministop_store_경기.csv', encoding='cp949', index_col=0, header=0, engine='python')
mini_gyeonggi.head()

     store                              address      phone
0    군포송정점                     경기 군포시 송부로34번길 2  1577-9621
1  오산궐동원룸점                  경기 오산시 대호로 141 106호  1577-9621
2   장안나이스점  경기 수원시 장안구 덕영대로407번길 83, 상가동 7,8,9호  1577-9621
3    안산초당점                  경기 안산시 상록구 장화3길 2-1  1577-9621
4  광주중대로또점                       경기 광주시 순암로 409  1577-9621

In [4]:
addr = []
for address in mini_gyeonggi.address:
    addr.append(str(address).split())
    
print(len(addr))

481

In [5]:
addr2 = []

for i in range(len(addr)):
    if addr[i][0] == "경기":
        addr[i][0] = "경기도"
        
    addr2.append(' '.join(addr[i]))

len(addr2)

481

In [6]:
addr2 = pd.DataFrame(addr2, columns=['address2'])
addr2.tail()

                                 address2
476                        경기도 파주시 해솔로 85
477                경기도 남양주시 화도읍 먹갓로38번길 3
478  경기도 용인시 수지구 광교중앙로295번길 21, 108호,109호
479                  경기도 안성시 원곡면 만세로 1056
480               경기도 수원시 팔달구 세지로152번길 46

In [7]:
mini_gyeonggi2 = pd.concat([mini_gyeonggi, addr2], axis=1)
mini_gyeonggi2.head()

,store,address,phone,address2
0,군포송정점,경기 군포시 송부로34번길 2,1577-9621,경기도 군포시 송부로34번길 2
1,오산궐동원룸점,경기 오산시 대호로 141 106호,1577-9621,경기도 오산시 대호로 141 106호
2,장안나이스점,"경기 수원시 장안구 덕영대로407번길 83, 상가동 7,8,9호",1577-9621,"경기도 수원시 장안구 덕영대로407번길 83, 상가동 7,8,9호"
3,안산초당점,경기 안산시 상록구 장화3길 2-1,1577-9621,경기도 안산시 상록구 장화3길 2-1
4,광주중대로또점,경기 광주시 순암로 409,1577-9621,경기도 광주시 순암로 409

In [8]:
gun_gu_list = []


for addr in mini_gyeonggi2.address2 :
    if '가평군' in addr:
        gun_gu='가평군'
    elif '고양시 일산서구' in addr:
        gun_gu='고양시일산서구'

    elif '고양시 일산동구' in addr:
        gun_gu='고양시일산동구'

    elif '고양시 덕양구' in addr:
        gun_gu='고양시덕양구'

    elif '과천시' in addr:
        gun_gu='과천시'

    elif '광명시' in addr:
        gun_gu='광명시'

    elif '광주시' in addr:
        gun_gu='광주시'

    elif '구리시' in addr:
        gun_gu='구리시'

    elif '군포시' in addr:
        gun_gu='군포시'

    elif '김포시' in addr:
        gun_gu='김포시'

    elif '남양주시' in addr:
        gun_gu='남양주시'

    elif '동두천시' in addr:
        gun_gu='동두천시'

    elif '부천시' in addr:
        gun_gu='부천시'

    elif '성남시 분당구' in addr:
        gun_gu='성남시 분당구'

    elif '성남시 중원구' in addr:
        gun_gu='성남시 중원구'

    elif '성남시 수정구' in addr:
        gun_gu='성남시 수정구'

    elif '수원시 영통구' in addr:
        gun_gu='수원시 영통구'

    elif '수원시 팔달구' in addr:
        gun_gu='수원시 팔달구'

    elif '수원시 권선구' in addr:
        gun_gu='수원시 권선구'

    elif '수원시 장안구' in addr:
        gun_gu='수원시 장안구'

    elif '시흥시' in addr:
        gun_gu='시흥시'

    elif '안산시 단원구' in addr:
        gun_gu='안산시단원구'

    elif '안산시 상록구' in addr:
        gun_gu='안산시상록구'

    elif '안성시' in addr:
        gun_gu='안성시'

    elif '안양시 동안구' in addr:
        gun_gu='안양시동안구'

    elif '안양시 만안구' in addr:
        gun_gu='안양시만안구'

    elif '양주시' in addr:
        gun_gu='양주시'

    elif '양평군' in addr:
        gun_gu='양평군'

    elif '여주시' in addr:
        gun_gu='여주시'

    elif '연천군' in addr:
        gun_gu='연천군'

    elif '오산시' in addr:
        gun_gu='오산시'

    elif '용인시 수지구' in addr:
        gun_gu='용인시수지구'

    elif '용인시 기흥구' in addr:
        gun_gu='용인시기흥구'

    elif '용인시 처인구' in addr:
        gun_gu='용인시처인구'

    elif '의왕시' in addr:
        gun_gu='의왕시'

    elif '의정부시' in addr:
        gun_gu='의정부시'

    elif '이천시' in addr:
        gun_gu='이천시'

    elif '파주시' in addr:
        gun_gu='파주시'

    elif '평택시' in addr:
        gun_gu='평택시'

    elif '포천시' in addr:
        gun_gu='포천시'

    elif '하남시' in addr:
        gun_gu='하남시'

    elif '화성시' in addr:
        gun_gu='화성시'

    gun_gu_list.append(gun_gu)

In [9]:
len(gun_gu_list)

481

In [10]:
gun_gu_list = pd.DataFrame(gun_gu_list, columns=["지역 시/군/구"])
gun_gu_list.head()

  지역 시/군/구
0      군포시
1      오산시
2  수원시 장안구
3   안산시상록구
4      광주시

In [14]:
ministop_gyeonggi_final = pd.concat([mini_gyeonggi2, gun_gu_list], axis=1)
ministop_gyeonggi_final.tail()

,store,address,phone,address2,지역 시/군/구
476,파주운정점,경기 파주시 해솔로 85,1577-9621,경기도 파주시 해솔로 85,파주시
477,천마산점,경기 남양주시 화도읍 먹갓로38번길 3,031-595-5178,경기도 남양주시 화도읍 먹갓로38번길 3,남양주시
478,수지푸르지오점,"경기 용인시 수지구 광교중앙로295번길 21, 108호,109호",1577-9621 소프트크림 판매점,"경기도 용인시 수지구 광교중앙로295번길 21, 108호,109호",용인시수지구
479,안성칠곡점,경기 안성시 원곡면 만세로 1056,1577-9621 소프트크림 판매점,경기도 안성시 원곡면 만세로 1056,안성시
480,인계베스트점,경기 수원시 팔달구 세지로152번길 46,1577-9621,경기도 수원시 팔달구 세지로152번길 46,수원시 팔달구

In [17]:
ministop_gyeonggi_final.to_csv("./data/mini_gyeonggi_final.csv", encoding='cp949', index=False)